<div class="nav-container">

    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <ul class="list-unstyled list-group list-group-horizontal flex-fill">
            {% for categorie in categorie %}
                {% if categorie.cat is null %}
            <li class="nav-item flex-fill text-center border-right">
                <a class="nav-link border-left" href="{{ path('sous.categorie', {'id': categorie.id}) }}"><span>{{categorie.catnom}}</span></a>
            </li>
                {% endif %}
            {% endfor %}
        </ul>
    </nav>

</div>