
body {
  background-image: url('images_soundstalented/notes.jpg') ;
  background-size: cover;
}

.navbar a {
  color: black;
}

.w {
  color: white;
}

.blur {
  backdrop-filter: blur(10px);
}

.b {
  color: black;
}