{% extends "base.html.twig" %}

{% block title %}Sounds Talented - Qui sommes nous ?
{% endblock %}




{% block body %}
    <div class="container">
        <div class="my-4">
            <h1 style="color: white">Notre entreprise en quelques mots :<h1>
        </div>
    </div>


{% endblock %}
