{% extends 'base.html.twig' %}

{% block title %}Sounds Talented - Catégories{% endblock %}

{% block body %}

<div class="container-fluid">
    <h2 class="mt-4" style="color: white">Catégories :</h2><br><br>
    <div class="row col-12">
    {% for categorie in categorie %}
        {% if categorie.cat is null %}
    <div class="card mx-4" style="width: 12rem;">
        <img class="card-img-top" src="{{ categorie.catphoto }}" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">{{ categorie.catnom }}</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="btn btn-primary">Détail</a>
        </div>
    </div>
        {% endif %}
    {% endfor %}
    </div>

</div>

{% endblock %}

